.navbar {
    background-color: white !important;
    height: 120px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar a {
    color: black !important;
}

.navbar ul {
    margin-left: 40%;
    font-size: 15px;
}

.navbar #name {
    color: black !important;
    margin-left: 10%;
 font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.navbar-logo {
    height: 120px !important; 
    object-fit: contain;
}



.navbar #cart {
    font-size: 20px !important;
    margin: -5px;
    margin-left: 5px;
}



.navbar button {
    background: black;

}


.navbar a:hover {
    color: darkred !important; /* White color on hover */
    transform: scale(1.1); /* Slight zoom effect */
}
html {
    scroll-behavior: smooth;
  }
  



.navbar-toggler-icon {
    color: red !important;
}

.nav-item {
    position: relative;
  }
  
  .custom-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    z-index: 1000;
    min-width: 150px;
  }


  
  .custom-dropdown li a {
    display: block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    transition: background 0.3s;
  }
  
  .custom-dropdown li a:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }
  
  .service{
    cursor: pointer;
  }

  .nav-link i.fab.fa-facebook {
  font-size: 25px; /* Adjust size if needed */
  color: #4267B2;   /* Facebook blue */
}



@media screen and (max-width: 991px) {
    .navbar ul {
        margin-right: 3% !important;
        text-align: right; 
        padding: 0; 
    }

    .navbar #name {
        margin-left: 0;
        text-align: center; 
    }

    .navbar-logo{
        height: 80px !important; 
        margin-left: 0; 
    }

    .navbar #log {
        display: none; 
    }

    .navbar #cart {
        margin-left: 0; 
    }

    .navbar a {
        color: red !important;
    }

    .navbar-toggler{
       background-color: red !important;
    }
}

@media screen and (max-width: 395px) {

    .video {
      
      height: 200%;
      margin-left: 5% !important;
     }
  
     #primary{
  
      width: 30%;
     
     }
  }
