<nav class="custom-navbar">
  <div class="nav-container">
    <a id="name" class="logo-link" href="#">
      <img src="../../assets/myImg/solutions.jpg" alt="Logo" class="navbar-logo" />
    </a>

    <button class="menu-toggle" (click)="toggleMenu()">☰</button>

    <div class="nav-links" [class.open]="isMenuOpen">
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            {{ 'NAV.HOME' | translate }}
          </a>
        </li>
        <li class="dropdown" [class.open]="isDropdownOpen">
          <a class="service" (click)="toggleDropdown()">
            {{ 'NAV.SERVICES' | translate }}
          </a>
          <ul class="dropdown-menu" *ngIf="isDropdownOpen">
            <li>
              <a routerLink="/hydroisolation" (click)="closeDropdown()">
                {{ 'NAV.SERVICE1' | translate }}
              </a>
            </li>
            <li>
              <a routerLink="/self-floor" (click)="closeDropdown()">
                {{ 'NAV.SERVICE2' | translate }}
              </a>
            </li>
          </ul>
        </li>
        <li><a routerLink="/masalebi" routerLinkActive="active">{{ 'NAV.MATERIALS' | translate }}</a></li>
        <li><a href="#references">{{ 'NAV.PROJECTS' | translate }}</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">{{ 'NAV.CONTACT' | translate }}</a></li>
        <li>
          <a class="facebook" href="https://www.facebook.com/profile.php?id=61564430607790&locale=ka_GE" target="_blank">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
      </ul>
    </div>

    <!-- ✅ Language Selector -->
<div class="custom-select-container" (click)="toggleLangDropdown()" [class.open]="isLangOpen">
  <div class="selected-flag">
    <img [src]="selectedFlag" alt="Selected Language" />
    <i class="fas fa-chevron-down"></i>
  </div>
  <div class="custom-select-dropdown" *ngIf="isLangOpen">
    <div class="flag-option" (click)="ChangeLang('geo'); selectFlag('geo')">
      <p>ქართული</p>
      <img src="assets/Flags/Georgia.jpg" alt="Georgian" />
    </div>
    <div class="flag-option" (click)="ChangeLang('eng'); selectFlag('eng')">
      <p>English</p>
      <img src="assets/Flags/English.png" alt="English" />
    </div>
    <div class="flag-option" (click)="ChangeLang('rus'); selectFlag('rus')">
      <p>Russian</p>
      <img src="assets/Flags/Russian.png" alt="Russian" />
    </div>
  </div>
</div>




  </div>
</nav>
