<nav class="custom-navbar">
  <div class="nav-container">
    <a id="name" class="logo-link" href="#">
      <img src="../../assets/myImg/solutions.jpg" alt="Logo" class="navbar-logo" />
    </a>

    <button class="menu-toggle" (click)="toggleMenu()">☰</button>

    <div class="nav-links" [class.open]="isMenuOpen">
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            {{ 'NAV.HOME' | translate }}
          </a>
        </li>
        <li class="dropdown" [class.open]="isDropdownOpen">
          <a class="service" (click)="toggleDropdown()">
            {{ 'NAV.SERVICES' | translate }}
          </a>
          <ul class="dropdown-menu" *ngIf="isDropdownOpen">
            <li>
              <a routerLink="/hydroisolation" (click)="closeDropdown()">
                {{ 'NAV.SERVICE1' | translate }}
              </a>
            </li>
            <li>
              <a routerLink="/self-floor" (click)="closeDropdown()">
                {{ 'NAV.SERVICE2' | translate }}
              </a>
            </li>
          </ul>
        </li>
        <li><a routerLink="/masalebi" routerLinkActive="active">{{ 'NAV.MATERIALS' | translate }}</a></li>
        <li><a href="#references">{{ 'NAV.PROJECTS' | translate }}</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">{{ 'NAV.CONTACT' | translate }}</a></li>
        <li>
          <a class="facebook" href="https://www.facebook.com/profile.php?id=61564430607790&locale=ka_GE" target="_blank">
            <i class="fab fa-facebook"></i>
          </a>
        </li>

      </ul>
    </div>
          <select class="form-select" (change)="ChangeLang($event)">
          <option [selected]="lang ==='geo'" value="geo">ქართული</option>
          <option [selected]="lang ==='eng'" value="eng">English</option>
          <option [selected]="lang ==='rus'" value="rus">Russian</option>
        </select>
  </div>
</nav>
