footer {
    background-color: black !important;
    color: white;
  }
  
  a {
    color: whitesmoke !important;
  }
  
  #cpy {
    margin-right: 50% !important;
  }
  
  .fa-facebook, .fa-youtube {
    margin-left: 10px; 
    color: #fff; 
  }
  
  @media screen and (max-width: 800px) {
    footer{
      width: 210%;
    }

  }

    
  @media screen and (max-width: 449px) {
    footer{
      width: 230%;
    }
  }

  @media screen and (max-width: 420px) {
    footer{
      width: 250%;
    }
  }