

<div class="product-list">
    <!-- Product 1 -->
    <div class="product-card">
      <div class="product-content">
        <img class="product-img" src="../../assets/masalebi/beton-contact.png" alt="Product 1">
        <div class="product-details">
          <h1>გრუნტი "BETON-CONTACT"</h1>
          <p>მკვრივი, გლუვი ზედაპირებისთვის თაბაშირის წასმამდე. გამოიყენება ბეტონისა და ზეთის საღებავით დაფარული ზედაპირებისთვის.</p>
          <div class="product-info">
            <span class="price">ფასი: 107 ლარი</span>
            <span class="weight">მოცულობა: 20კგ</span>
          </div>
          <img class="features" src="../../assets/myImg/features 1.png" alt="">
        </div>
      </div>
    </div>
  
    <!-- Repeat the same structure for each product... -->
  </div>

  
  <div class="product-list">
    <!-- Product 1 -->
    <div class="product-card">
      <div class="product-content">
        <img class="product-img" src="../../assets/masalebi/spec.png" alt="Product 1">
        <div class="product-details">
          <h1>გრუნტი სპეც "ინტერიერის"</h1>
          <p>ყველაზე ხელმისაწვდომი სტარატელის ბრენდის პრაიმერებს შორის. იგი გამოიყენება შიდა შენობაში რემონტის ბოლო ეტაპებზე, კედლებისა და ჭერის ზედაპირების დასამუშავებლად, შეღებვამდე ან შპალერის დადებამდე. იგი შექმნილია გამოყენებული მასალების შეწეპების სიმტკიცის გასაზრდელად და საღებავებისა და შპალერის წებოების მოხმარების შესამცირებლად.</p>
          <div class="product-info">
            <span class="price">ფასი: 39 ლარი</span>
            <span class="weight">მოცულობა: 10ლ</span>
          </div>
          <img class="features" src="../../assets/myImg/features 2.png" alt="">
        </div>
      </div>
    </div>
  
    <!-- Repeat the same structure for each product... -->
  </div>

  

  <div class="product-list">
    <!-- Product 1 -->
    <div class="product-card">
      <div class="product-content">
        <img class="product-img" src="../../assets/masalebi/universaluri.png" alt="Product 1">
        <div class="product-details">
          <h1>გრუნტი "უნივერსალური"</h1>
          <p>იგი გამოიყენება შიდა და გარეთ კედლების, ჭერისა და იატაკის ზედაპირების დასამუშავებლად შემდგომი დასრულების სამუშაოებამდე. იგი გამოიყენება წასასმელი მასალების სიმკვრივის გასაზრდელად, უზრუნველყოფს რასტვორის თანაბარ შეკვრას თაბაშირის და ცემეტის ნარევების. </p>
          <div class="product-info">
            <span class="price">ფასი: 42 ლარი</span>
            <span class="weight">მოცულობა: 10ლ</span>
          </div>
          <img class="features" src="../../assets/masalebi/features 3.png" alt="">
        </div>
      </div>
    </div>
  
    <!-- Repeat the same structure for each product... -->
  </div>

  

  <div class="product-list">
    <!-- Product 1 -->
    <div class="product-card">
      <div class="product-content">
        <img class="product-img" src="../../assets/masalebi/grma shegwevadobis.png" alt="Product 1">
        <div class="product-details">
          <h1>გრუნტი "ღრმა შეხწევადობის"</h1>
          <p>იგი გამოიყენება შიდა და გარეთ კედლების, ჭერისა და იატაკის ზედაპირების დასამუშავებლად შემდგომი დასრულების სამუშაოებამდე. იგი შექმნილია ძველი, ფხვიერი, არამდგრადი საძირკვლის გასამაგრებლად, უზრუნველყოფს თაბაშირისა და ცემენტის ნარევების ერთგვაროვან დამაგრებას, ზრდის გამოყენებული მასალების საძირკველთან გადაბმის ძალას. </p>
          <div class="product-info">
            <span class="price">ფასი:46 ლარი</span>
            <span class="weight">მოცულობა: 10ლ</span>
          </div>
          <img class="features" src="../../assets/myImg/features 4.png" alt="">
        </div>
      </div>
    </div>
  
    <!-- Repeat the same structure for each product... -->
  </div>
  