<!-- Product 1 -->
<div class="product-list">
  <div class="product-card">
    <div class="product-content">
      <img class="product-img" src="../../assets/masalebi/beton-contact.png" alt="BETON-CONTACT">
      <div class="product-details">
        <h1>{{ 'PRODUCTS.BETON_CONTACT.TITLE' | translate }}</h1>
        <p>{{ 'PRODUCTS.BETON_CONTACT.DESCRIPTION' | translate }}</p>
        <div class="product-info">
          <span class="price">{{ 'PRODUCTS.BETON_CONTACT.PRICE' | translate }}</span>
          <span class="weight">{{ 'PRODUCTS.BETON_CONTACT.VOLUME' | translate }}</span>
        </div>
        <img class="features" [src]="'PRODUCTS.BETON_CONTACT.IMAGE' | translate" alt="">
      </div>
    </div>
  </div>
</div>

<!-- Product 2 -->
<div class="product-list">
  <div class="product-card">
    <div class="product-content">
      <img class="product-img" src="../../assets/masalebi/spec.png" alt="SPEC">
      <div class="product-details">
        <h1>{{ 'PRODUCTS.SPEC.TITLE' | translate }}</h1>
        <p>{{ 'PRODUCTS.SPEC.DESCRIPTION' | translate }}</p>
        <div class="product-info">
          <span class="price">{{ 'PRODUCTS.SPEC.PRICE' | translate }}</span>
          <span class="weight">{{ 'PRODUCTS.SPEC.VOLUME' | translate }}</span>
        </div>
      <img class="features" [src]="'PRODUCTS.SPEC.IMAGE' | translate" alt="">
      </div>
    </div>
  </div>
</div>

<!-- Product 3 -->
<div class="product-list">
  <div class="product-card">
    <div class="product-content">
      <img class="product-img" src="../../assets/masalebi/universaluri.png" alt="UNIVERSAL">
      <div class="product-details">
        <h1>{{ 'PRODUCTS.UNIVERSAL.TITLE' | translate }}</h1>
        <p>{{ 'PRODUCTS.UNIVERSAL.DESCRIPTION' | translate }}</p>
        <div class="product-info">
          <span class="price">{{ 'PRODUCTS.UNIVERSAL.PRICE' | translate }}</span>
          <span class="weight">{{ 'PRODUCTS.UNIVERSAL.VOLUME' | translate }}</span>
        </div>
       <img class="features" [src]="'PRODUCTS.UNIVERSAL.IMAGE' | translate" alt="">
      </div>
    </div>
  </div>
</div>

<!-- Product 4 -->
<div class="product-list">
  <div class="product-card">
    <div class="product-content">
      <img class="product-img" src="../../assets/masalebi/grma shegwevadobis.png" alt="DEEP">
      <div class="product-details">
        <h1>{{ 'PRODUCTS.DEEP.TITLE' | translate }}</h1>
        <p>{{ 'PRODUCTS.DEEP.DESCRIPTION' | translate }}</p>
        <div class="product-info">
          <span class="price">{{ 'PRODUCTS.DEEP.PRICE' | translate }}</span>
          <span class="weight">{{ 'PRODUCTS.DEEP.VOLUME' | translate }}</span>
        </div>
        <img class="features" [src]="'PRODUCTS.DEEP.IMAGE' | translate" alt="">
      </div>
    </div>
  </div>
</div>
