<h1>ABOUT <br> AMBITS</h1>

<div class="started">   

  <div class="column">
    <i id="flag" class="fa-solid fa-flag-checkered"></i>
    <h2>how we started</h2>
    <span> 
      I'm a paragraph. Click here to add your own text and edit me.It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.
    </span>
  </div>

  <div class="column">
    <i id="flag" class="fa-brands fa-slack"></i>
    <h2>Why Ambits?</h2>
    <span> 
      I'm a paragraph. Click here to add your own text and edit me.It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.
    </span>
  </div>

</div>

<div class="started">   

  <div class="column special">
    <i id="flag" class="fa-regular fa-comment"></i>
    <span> 

 

        “I'm a testimonial. Click to edit me and add text that says something nice about you and your services.”
    </span>
  </div>

  <div class="column special">
    <i id="flag" class="fa-regular fa-comment"></i>
    <span> 
    
 

“I'm a testimonial. Click to edit me and add text that says something nice about you and your services.”
    </span>
  </div>

  <div class="column special">
    <i id="flag" class="fa-regular fa-comment"></i>
    <span> 
    
 

“I'm a testimonial. Click to edit me and add text that says something nice about you and your services.”
    </span>
  </div>

</div>

<button type="button" class="btn btn-primary" (click)="goToProductsPage()">Shop now <i class="fa-solid fa-chevron-right"></i></button>
