<div class="product-list">

  <!-- Product 1 -->
  <div class="product-card">
    <div class="product-content">
      <img class="product-img" src="../../assets/masalebi/masala 8.jpg" alt="Product 1">
      <div class="product-details">
        <h1>{{ 'PRODUCTS.PUTTY_MACHINE.TITLE' | translate }}</h1>
        <p>{{ 'PRODUCTS.PUTTY_MACHINE.DESCRIPTION' | translate }}</p>
        <div class="product-info">
          <span class="price">{{ 'PRODUCTS.PUTTY_MACHINE.PRICE' | translate }}</span>
          <span class="weight">{{ 'PRODUCTS.PUTTY_MACHINE.VOLUME' | translate }}</span>
        </div>
        <img class="features" [src]="'PRODUCTS.PUTTY_MACHINE.IMAGE' | translate" alt="">
      </div>
    </div>
  </div>

  <!-- Product 2 -->
  <div class="product-card">
    <div class="product-content">
      <img class="product-img" src="../../assets/masalebi/masala 9.jpg" alt="Product 2">
      <div class="product-details">
        <h1>{{ 'PRODUCTS.OPTIMUM.TITLE' | translate }}</h1>
        <p>{{ 'PRODUCTS.OPTIMUM.DESCRIPTION' | translate }}</p>
        <div class="product-info">
          <span class="price">{{ 'PRODUCTS.OPTIMUM.PRICE' | translate }}</span>
          <span class="weight">{{ 'PRODUCTS.OPTIMUM.VOLUME' | translate }}</span>
        </div>
        <img class="features" [src]="'PRODUCTS.OPTIMUM.IMAGE' | translate" alt="">
      </div>
    </div>
  </div>

  <!-- Product 3 -->
  <div class="product-card">
    <div class="product-content">
      <img class="product-img" src="../../assets/masalebi/masala 10.jpg" alt="Product 3">
      <div class="product-details">
        <h1>{{ 'PRODUCTS.POLYMER.TITLE' | translate }}</h1>
        <p>{{ 'PRODUCTS.POLYMER.DESCRIPTION' | translate }}</p>
        <div class="product-info">
          <span class="price">{{ 'PRODUCTS.POLYMER.PRICE' | translate }}</span>
          <span class="weight">{{ 'PRODUCTS.POLYMER.VOLUME' | translate }}</span>
        </div>
          <img class="features" [src]="'PRODUCTS.POLYMER.IMAGE' | translate" alt="">
      </div>
    </div>
  </div>

  <!-- Product 4 -->
  <div class="product-card">
    <div class="product-content">
      <img class="product-img" src="../../assets/masalebi/masala 11.jpg" alt="Product 4">
      <div class="product-details">
        <h1>{{ 'PRODUCTS.FACADE.TITLE' | translate }}</h1>
        <p>{{ 'PRODUCTS.FACADE.DESCRIPTION' | translate }}</p>
        <div class="product-info">
          <span class="price">{{ 'PRODUCTS.FACADE.PRICE' | translate }}</span>
          <span class="weight">{{ 'PRODUCTS.FACADE.VOLUME' | translate }}</span>
        </div>
         <img class="features" [src]="'PRODUCTS.FACADE.IMAGE' | translate" alt="">
      </div>
    </div>
  </div>
</div>
