<div class="product-list">

    <div class="product-card">
      <div class="product-content">
        <img class="product-img" src="../../assets/masalebi/masala 8.jpg" alt="Product 1">
        <div class="product-details">
          <h1>აპარატის ფითხი</h1>
          <p></p>
          <div class="product-info">
            <span class="price">ფასი: 22 ლარი</span>
            <span class="weight">მოცულობა: 30კგ</span>
          </div>
          <img class="features" src="../../assets/masalebi/features 8.jpg" alt="">
        </div>
      </div>
    </div>

 
    <div class="product-card">
      <div class="product-content">
        <img class="product-img" src="../../assets/masalebi/masala 9.jpg" alt="Product 2">
        <div class="product-details">
          <h1>ფითხი "Optimum"</h1>
          <p></p>
          <div class="product-info">
            <span class="price">ფასი: 21 ლარი</span>
            <span class="weight">მოცულობა: 30კგ</span>
          </div>
          <img class="features" src="../../assets/masalebi/features 9.jpg" alt="">
        </div>
      </div>
    </div>

   
    <div class="product-card">
      <div class="product-content">
        <img class="product-img" src="../../assets/masalebi/masala 10.jpg" alt="Product 3">
        <div class="product-details">
          <h1>პოლიმერული ფითხი პოლიარტი</h1>
          <p></p>
          <div class="product-info">
            <span class="price">ფასი: 29 ლარი</span>
            <span class="weight">მოცულობა: 20კგ</span>
          </div>
          <img class="features" src="../../assets/masalebi/features 10.jpg" alt="">
        </div>
      </div>
    </div>

    
    <div class="product-card">
      <div class="product-content">
        <img class="product-img" src="../../assets/masalebi/masala 11.jpg" alt="Product 4">
        <div class="product-details">
          <h1>ფითხი საფასადე ცემენტის ბაზა</h1>
          <p>გამოიყენება იატაკის ზედაპირის (ბეტონი, ცემენტ-ქვიშა, თაბაშირი, ანჰიდრიტი) საბოლოო მოსწორებითვის...</p>
          <div class="product-info">
            <span class="price">ფასი: 31 ლარი</span>
            <span class="weight">მოცულობა: 25კგ</span>
          </div>
          <img class="features" src="../../assets/masalebi/features 11.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  