  .contact-section {
    background: #fff;
    padding: 5rem 3rem;
    border-radius: 2rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
    text-align: center;
    max-width: 900px;
    margin: 4rem auto;
  }
  
  .contact-heading {
    font-size: 2.8rem;
    font-weight: 700;
    color: black;
    margin-bottom: 1rem;
  }
  
  .contact-subtext {
    font-size: 1.2rem;
    color: #6c757d;
    margin-bottom: 2rem;
  }
  
  .contact-form-wrapper {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.04);
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 0.75rem;
    border: 2px solid #ced4da;
    border-radius: 12px;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    transition: border 0.3s ease;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    border-color: black;
    box-shadow: 0 0 10px rgba(40, 167, 69, 0.15);
    outline: none;
  }
  
  .submit-btn {
    background: linear-gradient(to right, black);
    color: white;
    padding: 12px 32px;
    border-radius: 30px;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .facebook{
    font-size: 30px;
  }

  
  
  /* Media Queries for Responsiveness */
  @media (max-width: 1200px) {
    .hero-banner {
      padding: 4rem 3rem;
    }
    
    .hero-banner img {
      max-width: 40%;
    }
  }
  
  @media (max-width: 992px) {
    .hero-banner {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 3rem 2rem;
      width: 100% !important;
      height: 90vh;
    }
  
    .hero-banner img {
      margin-top: 2rem;
    }
  
    .product-section h2 {
      font-size: 1.75rem;
    }
  
    .product-section p {
      font-size: 3.9rem;
    }
  
    .table-item {
      width: 100%;
      height: auto;
    }
  
    .reference-item {
      width: 40% !important;
      height: auto;
    }
  
    .reference-item p {
      font-size: 2.9rem;
    }
  }
  
  @media (max-width: 800px) {
  
    .hero-banner {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 3rem 2rem;
      width: 210% !important;
      height: 100vh;
    }
  
   .product-section{
    margin-left: 0%;
    width: 210%;
   }
  
    .product-section h2 {
      font-size: 1.5rem;
    }
  
    .product-section p {
      font-size: 2.5rem;
    }
  
    .references-section {
     margin-left: 0% !important;
     width: 210%;
    }
  
    .reference-item {
      width: 30% !important;
    }
  
    .reference-item p {
      font-size: 2rem;
    }
  
    .contact-section{
    margin-left: 40% !important;
    width: 210%;
    }
  
  }
  
  @media(max-width: 688px) {
    .contact-section{
    margin-left: 40% !important;
    width: 210%;
    }
  }
  
  @media(max-width: 630px) {
    .contact-section{
    margin-left: 30% !important;
    width: 210%;
    }
  }
  
  @media(max-width: 530px) {
    .contact-section{
    margin-left: 20% !important;
    width: 210%;
    }
  }
  
  @media(max-width: 472px) {
    .contact-section{
    margin-left: 10% !important;
    width: 210%;
    }
  
    .hero-banner{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem 2rem;
      width: 210% !important;
      height: 90vh;
    }
  }
  
  @media(max-width: 449px) {
  
    .hero-banner {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 3rem 2rem;
      width: 230% !important;
      height: 100vh;
    }
  
    .references-section {
      margin-left: 0% !important;
      width: 230%;
     }
   
     .reference-item {
       width: 30% !important;
     }
   
     .reference-item p {
       font-size: 2rem;
     }
   
  
    .contact-section{
    margin-left: 10% !important;
    width: 210%;
    }
  
    
   .product-section{
    margin-left: 0%;
    width: 230%;
   }
  }
  
  @media(max-width: 430px) {
    .contact-section{
    margin-left: 10% !important;
    width: 210%;
    }
  
    .hero-banner{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem 2rem;
      width: 230% !important;
      height: 80vh;
    }
  }
  
  @media(max-width: 420px) {
    .hero-banner {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 3rem 2rem;
      width: 250% !important;
      height: 100vh;
    }
  
    .references-section {
      margin-left: 0% !important;
      width: 250%;
     }
   
     .reference-item {
       width: 30% !important;
     }
   
     .reference-item p {
       font-size: 2rem;
     }
   
  
    .contact-section{
    margin-left: 20% !important;
    width: 250%;
    }
  
    
   .product-section{
    margin-left: 0%;
    width: 250%;
   }
  }
  
  @media(max-width: 414px) {
    .contact-section{
    margin-left: 20% !important;
    width: 210%;
    }
  
    .hero-banner{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem 2rem;
      width: 250% !important;
      height: 80vh;
    }
  }
  
  @media(max-width: 390px) {
    .contact-section{
    margin-left: 20% !important;
    width: 210%;
    }
  
    .hero-banner{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem 2rem;
      width: 250% !important;
      height: 80vh;
    }
  }