<!-- Product 1 -->
<div class="product-list">
  <div class="product-card">
    <div class="product-content">
      <img class="product-img" src="../../assets/masalebi/wasasmeli.png" alt="POLYMER_WATERPROOFING_SONORA">
      <div class="product-details">
        <h1>{{ 'PRODUCTS.SONORA.TITLE' | translate }}</h1>
        <p>{{ 'PRODUCTS.SONORA.DESCRIPTION' | translate }}</p>
        <div class="product-info">
          <span class="price">{{ 'PRODUCTS.SONORA.PRICE' | translate }}</span>
          <span class="weight">{{ 'PRODUCTS.SONORA.VOLUME' | translate }}</span>
        </div>
        <img class="features" [src]="'PRODUCTS.SONORA.IMAGE' | translate" alt="">
      </div>
    </div>
  </div>
</div>

<!-- Product 2 -->
<div class="product-list">
  <div class="product-card">
    <div class="product-content">
      <img class="product-img" src="../../assets/masalebi/polimeruli.png" alt="POLYMER_WATERPROOFING_AQUASHIELD">
      <div class="product-details">
        <h1>{{ 'PRODUCTS.AQUASHIELD.TITLE' | translate }}</h1>
        <p>{{ 'PRODUCTS.AQUASHIELD.DESCRIPTION' | translate }}</p>
        <div class="product-info">
          <span class="price">{{ 'PRODUCTS.AQUASHIELD.PRICE' | translate }}</span>
          <span class="weight">{{ 'PRODUCTS.AQUASHIELD.VOLUME' | translate }}</span>
        </div>
        <img class="features" [src]="'PRODUCTS.AQUASHIELD.IMAGE' | translate" alt="">
      </div>
    </div>
  </div>
</div>
