<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/forum">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">All posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My posts</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <div class="input-group">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                </div>
            </form>
        </div>
    </div>
</nav>
<hr>

<div class="all">  
<p>Forum</p>

<span class="join">Join the forum and find the answers you have been searching for.</span>

<button id="newPost" type="button" class="btn btn-info">Create New Post</button>

<div class="cont">

    <div class="Start">
        <div class="text-content">
            <h1>Help and Getting Started</h1>
            <h2>Describe your forum category. Engage your audience and entice them to continue reading.</h2>
        </div>
        <i id="eyes" class="fa-regular fa-eye"></i>
        <i id="message" class="fa-regular fa-message"><span>3</span></i>
        <a class="follow" href="">Follow</a>
    </div>
    
    <div class="Start">
        <div class="text-content">
            <h1>Help and Getting Started</h1>
            <h2>Describe your forum category. Engage your audience and entice them to continue reading.</h2>
        </div>
        <i id="eyes" class="fa-regular fa-eye"></i>
        <i id="message" class="fa-regular fa-message"><span>3</span></i>
        <a class="follow" href="">Follow</a>
    </div>
      

</div>




<h3>New Posts</h3>


<div class="owen">  

<div class="Posts">
    <div class="text-content">
       <span class="Admin">Admin</span><i id="crown" class="fa-solid fa-crown"></i>
        <div> <i id="user" class="fa-solid fa-user"></i> <span class="date">Apr 22</span></div>
        <h1 class="sale">Weekend sale</h1>
        <h1 class="deals">Announcements and Deals</h1>
        <h2 class="topic">Post about your forum topic here. Engage your audience with relevant and interesting posts that will...</h2>
        <hr class="ftHr">
        
        <div> <i class="fa-regular fa-thumbs-up"><span>like</span></i>  <br><i id="send" class="fa-regular fa-message"><span>0</span></i>  <i id="see" class="fa-regular fa-eye"><span>1</span></i></div>
 
    </div>
  
</div>


<div class="Posts">
    <div class="text-content">
       <span class="Admin">Admin</span><i id="crown" class="fa-solid fa-crown"></i>
        <div> <i id="user" class="fa-solid fa-user"></i> <span class="date">Apr 22</span></div>
        <h1 class="sale">Weekend sale</h1>
        <h1 class="deals">Announcements and Deals</h1>
        <h2 class="topic">This is your forum post. Use this space to connect with your audience in a way that’s current and...</h2>
        <hr class="ftHr">
        
        <div> <i class="fa-regular fa-thumbs-up"><span>like</span></i>  <br><i id="send" class="fa-regular fa-message"><span>0</span></i>  <i id="see" class="fa-regular fa-eye"><span>1</span></i></div>
 
    </div>
  
</div>


<div class="Posts">
    <div class="text-content">
       <span class="Admin">Admin</span><i id="crown" class="fa-solid fa-crown"></i>
        <div> <i id="user" class="fa-solid fa-user"></i> <span class="date">Apr 22</span></div>
        <h1 class="sale">Weekend sale</h1>
        <h1 class="deals">Announcements and Deals</h1>
        <h2 class="topic">Create discussions of your choice and make them look just right with easy text editing options. When...</h2>
        <hr class="ftHr">
        
        <div> <i class="fa-regular fa-thumbs-up"><span>like</span></i>  <br><i id="send" class="fa-regular fa-message"><span>0</span></i>  <i id="see" class="fa-regular fa-eye"><span>1</span></i></div>
 
    </div>
  
</div>


   </div>
</div>