
nav {
    margin-top: 10%;
    position: static;
}

ul {
    margin-left: 10%;
}

form {
    margin-right: 15%;
}

.input-group {
    position: static;
}

.form-control {
    position: static;
}

hr {
    width: 70%;
    margin-left: 11%;
}

p {
    font-size: 70px;
    margin-left: 40%;
    color: darkcyan;
}

a {
    color: darkcyan;
}

span {
    margin-left: 27%;
    color: darkcyan;
}

#newPost {
    margin-top: 20%;
    background-color: darkcyan !important;
    color: white;
    font-size: 15px;
}

#example {
    font-size: 10px;
    width: 100%;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 13px;
}

.Start {
    margin-top: 20px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    width: 70%;
    margin-left: 13%;
}

#eyes {
    font-size: 20px;
    margin-right: 10%;
    color: darkcyan;
}

.text-content {
    color: darkcyan;
    flex: 1;
}

#message {
    margin-right: 10%;
    color: darkcyan;
}

.follow {
    margin-right: 10px;
    text-decoration: none;
}

h3 {
    font-size: 20px;
    margin-left: 13%;
    margin-top: 2%;
}

.Posts {
    margin-top: 20px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 30px;
    width: 23%;
    margin-left: 7%;
}

.Admin {
    margin-left: 10%;
    font-size: 15px;
    color: black;
}

#crown {
    font-size: 12px;
    margin-left: 2%;
}

#user {
    font-size: 30px;
    color: gray;
}

.date {
    margin: 10px;
}

.sale {
    margin-top: 5%;
    font-size: 20px;
    color: black;
}

.deals {
    font-size: 15px;
}

.topic {
    width: 115%;
    margin-left: -5%;
}

.ftHr {
    width: 100%;
    margin: 5px;
}

#send {
    margin-left: 45%;
}

#see {
    margin-left: 7%;
}

.owen {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
    nav {
        margin-top: 40%;
        margin-left: 50%;
    }

    hr {
        margin-left: 40%;
    }

    p {
        margin-left: 3%;
    }

   
    .Start,
    .Posts {
        width: 95%; /* Adjust the width to 95% */
        margin-left: 2.5%; /* Add a small left margin for spacing */
        margin-top: 5%; /* Keep the top margin */
        padding: 30px; /* Increase padding for more space */
    }


    h3 {
        margin-left: 5%;
    }

    .join {
        display: none;
    }

    .all {
        margin-left: 20%;
    }

    .cont{
        margin-left: 50%;
    }

    .owen{
        margin-left: 50%;
    }

    .follow{
        display: none;
    }
}


@media screen and (max-width: 600px) {
    nav {
        margin-top: 60%;
        margin-left: 30%;
    }

    hr {
        margin-left: 30%;
    }

    p {
        margin-left: 1%;
    }

  
    .Start,
    .Posts {
        width: 95%; /* Adjust the width to 95% */
        margin-left: 2.5%; /* Add a small left margin for spacing */
        margin-top: 5%; /* Keep the top margin */
        padding: 30px; /* Increase padding for more space */
    }


    

    h3 {
        margin-left: 2.5%;
    }

    .follow{
       display: none;
    }

    .cont{
        margin-left: 50%;
    }

    .owen{
        margin-left: 50%;
    }

    #message{
        display: none;
    }

    #eyes{
        display: none;
    }

    .navbar-toggler{
        margin-left: 80%;
    }

    hr{
        margin-left: 50%;
    }

    #send{
        margin-left: 0%;
    }

    .topic{
        margin-left: -10%;
    }

    .text-content{
        width: 140%;
        height: 300px;
    }
}
