

<div class="product-list">
    <!-- Product 1 -->
    <div class="product-card">
      <div class="product-content">
        <img class="product-img" src="../../assets/masalebi/tvitsworebadi txeli.png" alt="Product 1">
        <div class="product-details">
          <h1>თვითსწორებადი "თხელი"</h1>
          <p>გამოიყენება იატაკის ზედაპირის (ბეტონი, ცემენტ-ქვიშა, თაბაშირი, ანჰიდრიტი) საბოლოო მოსწორებითვის შემდგომი დაგების სამუშაოებამდე (ფილები, ლამინატი, პარკეტი, ლინოლეუმი, ხალიჩა და ა.შ.). გამოიყენება ნორმალური და მაღალი ტენიანობის მქონე ოთახებში.</p>
          <div class="product-info">
            <span class="price">ფასი: 37 ლარი</span>
            <span class="weight">მოცულობა: 25კგ</span>
          </div>
          <img class="features" src="../../assets/masalebi/features 1.png" alt="">
        </div>
      </div>
    </div>
  
  </div>

  
  <div class="product-list">
    <!-- Product 1 -->
    <div class="product-card">
      <div class="product-content">
        <img class="product-img" src="../../assets/masalebi/tvitsworebadi sqeli.png" alt="Product 1">
        <div class="product-details">
          <h1>თვითსწორებადი "სქელი"</h1>
          <p>იგი გამოიყენება ბეტონისა და ცემენტ-ქვიშის ბაზის საბოლოო მოსწორებისთვის იატაკის ზედაპირზე შემდგომი დაგების სამუშაობეამდე (ფილები, ლამინატი, პარკეტი, ლინოლეუმი, ხალიჩა და ა.შ.). გამოიენება სტიაჟკის დაგებისთვის გამყოფ ფენაზე. იდეალურია იატაკის დონის მნიშვნელოვანი განსხვავებებისთვის. იგი გამოიყენება ნორმალური და მაღალი ტენიანობის მქონე ოთახებში (მათ შორის გაუცხელებელი ოთახები), ასევე გარე სამუშაოებისთვის.</p>
          <div class="product-info">
            <span class="price">ფასი: 34 ლარი</span>
            <span class="weight">მოცულობა: 25კგ</span>
          </div>
          <img class="features" src="../../assets/masalebi/features 2.png" alt="">
        </div>
      </div>
    </div>
  
    <!-- Repeat the same structure for each product... -->
  </div>

  

  <div class="product-list">
    <!-- Product 1 -->
    <div class="product-card">
      <div class="product-content">
        <img class="product-img" src="../../assets/masalebi/magali datvirtvistvis.png" alt="Product 1">
        <div class="product-details">
          <h1>თვითსწორებადი "მაღალი დატვირთვის"</h1>
          <p>იგი გამოიყენება ბეტონისა და ცემენტ-ქვიშის ბაზის საბოლოო მოსწორებისთვის იატაკის ზედაპირზე შემდგომი დაგების სამუშაობეამდე. გამოიენება სტიაჟკის დაგებისთვის გამყოფ ფენაზე. იდეალურია მაღალი ოპერაციული დატვირთვისთვის (მაღალი ტრაფიკის ადგილებში, ავტოფარეხებში, სარდაფებში, საწყობებსა და სამრეწველო შენობებში).  </p>
          <div class="product-info">
            <span class="price">ფასი: 33 ლარი</span>
            <span class="weight">მოცულობა: 25 კგ</span>
          </div>
          <img class="features" src="../../assets/masalebi/features 3.png" alt="">
        </div>
      </div>
    </div>
  
    <!-- Repeat the same structure for each product... -->
  </div>

  

  <div class="product-list">
    <!-- Product 1 -->
    <div class="product-card">
      <div class="product-content">
        <img class="product-img" src="../../assets/masalebi/praktikuli.png" alt="Product 1">
        <div class="product-details">
          <h1>თვითსწორებადი "პრაქტიკული"</h1>
          <p>გამოიყენება იატაკის ზედაპირის (ბეტონი, ცემენტ-ქვიშა, თაბაშირი, ანჰიდრიტი) საბოლოო მოსწორებითვის შემდგომი დაგების სამუშაოებამდე (ფილები, ლამინატი, პარკეტი, ლინოლეუმი, ხალიჩა და ა.შ.). გამოიყენება ნორმალური ტენიანობის მქონე ოთახებში. </p>
          <div class="product-info">
            <span class="price">ფასი: 31 ლარი</span>
            <span class="weight">მოცულობა: 25კგ</span>
          </div>
          <img class="features" src="../../assets/masalebi/features 4.png" alt="">
        </div>
      </div>
    </div>
  
    <!-- Repeat the same structure for each product... -->
  </div>
  
  <div class="product-list">
    <!-- Product 1 -->
    <div class="product-card">
      <div class="product-content">
        <img class="product-img" src="../../assets/masalebi/swrafad gamyarebadi.png" alt="Product 1">
        <div class="product-details">
          <h1>თვითსწორებადი "სწრაფად გამყარებადი"</h1>
          <p>გამოიყენება იატაკის ზედაპირის (ბეტონი, ცემენტ-ქვიშა, თაბაშირი, ანჰიდრიტი) საბოლოო მოსწორებითვის შემდგომი დაგების სამუშაოებამდე (ფილები, ლამინატი, პარკეტი, ლინოლეუმი, ხალიჩა და ა.შ.). ვარგისია იატაკქვეშა გათბობის სისტემებისთვის  და სტიაჟკის გამყოფი ფენებისთვის. იდეალურია მცირე ვადების სიტუაციბში გამოყენებისთვის </p>
          <div class="product-info">
            <span class="price">ფასი: 34 ლარი</span>
            <span class="weight">მოცულობა: 25კგ</span>
          </div>
          <img class="features" src="../../assets/masalebi/features 5.png" alt="">
        </div>
      </div>
    </div>
  
    <!-- Repeat the same structure for each product... -->
  </div>
  