<!-- Product 1 -->
<div class="product-list">
  <div class="product-card">
    <div class="product-content">
      <img class="product-img" src="../../assets/masalebi/tvitsworebadi txeli.png" alt="THIN_SELF_LEVELING">
      <div class="product-details">
        <h1>{{ 'PRODUCTS.THIN.TITLE' | translate }}</h1>
        <p>{{ 'PRODUCTS.THIN.DESCRIPTION' | translate }}</p>
        <div class="product-info">
          <span class="price">{{ 'PRODUCTS.THIN.PRICE' | translate }}</span>
          <span class="weight">{{ 'PRODUCTS.THIN.VOLUME' | translate }}</span>
        </div>
        <img class="features" [src]="'PRODUCTS.THIN.IMAGE' | translate" alt="">
      </div>
    </div>
  </div>
</div>

<!-- Product 2 -->
<div class="product-list">
  <div class="product-card">
    <div class="product-content">
      <img class="product-img" src="../../assets/masalebi/tvitsworebadi sqeli.png" alt="THICK_SELF_LEVELING">
      <div class="product-details">
        <h1>{{ 'PRODUCTS.THICK.TITLE' | translate }}</h1>
        <p>{{ 'PRODUCTS.THICK.DESCRIPTION' | translate }}</p>
        <div class="product-info">
          <span class="price">{{ 'PRODUCTS.THICK.PRICE' | translate }}</span>
          <span class="weight">{{ 'PRODUCTS.THICK.VOLUME' | translate }}</span>
        </div>
         <img class="features" [src]="'PRODUCTS.THICK.IMAGE' | translate" alt="">
      </div>
    </div>
  </div>
</div>

<!-- Product 3 -->
<div class="product-list">
  <div class="product-card">
    <div class="product-content">
      <img class="product-img" src="../../assets/masalebi/magali datvirtvistvis.png" alt="HIGH_LOAD_SELF_LEVELING">
      <div class="product-details">
        <h1>{{ 'PRODUCTS.HIGH.TITLE' | translate }}</h1>
        <p>{{ 'PRODUCTS.HIGH.DESCRIPTION' | translate }}</p>
        <div class="product-info">
          <span class="price">{{ 'PRODUCTS.HIGH.PRICE' | translate }}</span>
          <span class="weight">{{ 'PRODUCTS.HIGH.VOLUME' | translate }}</span>
        </div>
       <img class="features" [src]="'PRODUCTS.HIGH.IMAGE' | translate" alt="">
      </div>
    </div>
  </div>
</div>

<!-- Product 4 -->
<div class="product-list">
  <div class="product-card">
    <div class="product-content">
      <img class="product-img" src="../../assets/masalebi/praktikuli.png" alt="PRACTICAL_SELF_LEVELING">
      <div class="product-details">
        <h1>{{ 'PRODUCTS.PRACTICAL.TITLE' | translate }}</h1>
        <p>{{ 'PRODUCTS.PRACTICAL.DESCRIPTION' | translate }}</p>
        <div class="product-info">
          <span class="price">{{ 'PRODUCTS.PRACTICAL.PRICE' | translate }}</span>
          <span class="weight">{{ 'PRODUCTS.PRACTICAL.VOLUME' | translate }}</span>
        </div>
        <img class="features" [src]="'PRODUCTS.PRACTICAL.IMAGE' | translate" alt="">
      </div>
    </div>
  </div>
</div>

<!-- Product 5 -->
<div class="product-list">
  <div class="product-card">
    <div class="product-content">
      <img class="product-img" src="../../assets/masalebi/swrafad gamyarebadi.png" alt="FAST_HARDENING_SELF_LEVELING">
      <div class="product-details">
        <h1>{{ 'PRODUCTS.FAST.TITLE' | translate }}</h1>
        <p>{{ 'PRODUCTS.FAST.DESCRIPTION' | translate }}</p>
        <div class="product-info">
          <span class="price">{{ 'PRODUCTS.FAST.PRICE' | translate }}</span>
          <span class="weight">{{ 'PRODUCTS.FAST.VOLUME' | translate }}</span>
        </div>
        <img class="features" [src]="'PRODUCTS.FAST.IMAGE' | translate" alt="">
      </div>
    </div>
  </div>
</div>
