

<div class="card-container">
    <!-- Card 1 -->
    <div class="card">
      <img src="../../assets/masalebi/universaluri.png" alt="Cute Cat">
      <div class="info">
        <h3>გრუნტი</h3>
        <a routerLink="/grunti" class="learn-more-btn">გაიგე მეტი</a>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="card">
      <img src="../../assets/masalebi/tvitsworebadi txeli.png" alt="Sample">
      <div class="info">
        <h3>თვითსწორებადი</h3>
        <a routerLink="/tvitsworebadi" class="learn-more-btn">გაიგე მეტი</a>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="card">
      <img src="../../assets/masalebi/polimeruli.png" alt="Sample">
      <div class="info">
        <h3>ჰიდროიზოლაცია</h3>
        <a routerLink="/hidroizolacia" class="learn-more-btn">გაიგე მეტი</a>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/masalebi/masala 10.jpg" alt="Sample">
      <div class="info">
        <h3>ფითხი</h3>
        <a routerLink="/pitxi" class="learn-more-btn">გაიგე მეტი</a>
      </div>
    </div>
  </div>