<div class="card-container">
  <!-- Card 1 -->
  <div class="card">
    <img src="../../assets/masalebi/universaluri.png" alt="Primer">
    <div class="info">
      <h3>{{ 'CARDS.GRUNTI' | translate }}</h3>
      <a routerLink="/grunti" class="learn-more-btn">{{ 'CARDS.LEARN_MORE' | translate }}</a>
    </div>
  </div>

  <!-- Card 2 -->
  <div class="card">
    <img src="../../assets/masalebi/tvitsworebadi txeli.png" alt="Self-Leveling">
    <div class="info">
      <h3>{{ 'CARDS.TVITSWOREBADI' | translate }}</h3>
      <a routerLink="/tvitsworebadi" class="learn-more-btn">{{ 'CARDS.LEARN_MORE' | translate }}</a>
    </div>
  </div>

  <!-- Card 3 -->
  <div class="card">
    <img src="../../assets/masalebi/polimeruli.png" alt="Waterproofing">
    <div class="info">
      <h3>{{ 'CARDS.HIDROIZOLACIA' | translate }}</h3>
      <a routerLink="/hidroizolacia" class="learn-more-btn">{{ 'CARDS.LEARN_MORE' | translate }}</a>
    </div>
  </div>

  <!-- Card 4 -->
  <div class="card">
    <img src="../../assets/masalebi/masala 10.jpg" alt="Putty">
    <div class="info">
      <h3>{{ 'CARDS.PITXI' | translate }}</h3>
      <a routerLink="/pitxi" class="learn-more-btn">{{ 'CARDS.LEARN_MORE' | translate }}</a>
    </div>
  </div>
</div>
